body {
    background: black;
}

@-webkit-keyframes pulse
{
  0% {color: red;}
 25% {color: tomato;}
 50% {color: orange;}
 75% {color: yellow;}
 100% {color: moccasin;}
}

.pulse {
    -webkit-animation: pulse 0.5s infinite alternate;
}

hr {
    border: 0.01em solid #ccc;
}

